 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    font-family:"Jost",sans-serif;
    font-size: 10px;
}

.wrapper{
    max-width: 111rem;
    margin: 0 auto;
}

:root{
    --peach-color:#E78168;
    --black-color:#1D1C1E;
    --light-peach-color:#FFAD9B;
    --dark-grey-color:#333136;
    --white-color:#FFFFFF;
    --light-grey-color:#F1F3F5;
    --card-bg-color:#FDF3F0;
}

h1{
    font-size: 4.8em;
    line-height: 4.8rem;
    font-weight: 400;
}

h2{
    font-size: 4rem;
    line-height: 4.8rem;
    font-weight: 500;
}

 
h3{
    font-size: 2em;
    line-height: 2.6rem;
    letter-spacing: 0.5rem;
    font-weight:400;
}

h4{
    font-size: 2em;
    line-height: 2.6rem;
}

p{
    font-size: 1.6em;
    line-height: 2.6rem;
}

button{
    padding: 2rem 3rem;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 1.6em;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.2rem;
    border-radius: 0.8rem;
}

button:hover{
    background-color: var(pe);
}

input{
    display: none;
}
 
input + label .close-menu{
    display: none;
}

input:checked + label .open-menu{
    display: none;
}

input:checked + label .close-menu{
    display: block;
}

label,.logo-mobile{
    display: none;
    cursor: pointer;
}

header{
    margin: 4rem 0;
}

.nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    list-style: none;
    display: flex;
    gap: 3rem;
}

li a{
    display:block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.6em;
    transition: 0.7s ease;
}

.nav-list li a{
    color: var(--dark-grey-color);
}

li a:hover{
    text-decoration: underline;
    font-weight: 500;
}


main{
    position: relative;
    overflow: hidden;
}

.bg-pattern-leaf{
    position: absolute;
    top: 20rem;
    left: -8rem;
}


.hero{
    background-color: var(--peach-color);
    padding: 10rem 0;
    text-align: center;

    margin-bottom: 14rem;
    position: relative;
    overflow: hidden;
}

.hero-call-to-action{
    position: absolute;
    top: -10rem;
    left: 0;
}

.hero h1{
    color: var(--white-color);
    margin-bottom: 2rem;
}

.hero p{
    color: var(--white-color);
    max-width: 40rem;
    margin: auto;
}


.graphic-design{
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    margin-bottom: 14rem;
}

.graphic-design>div{
    max-width:35rem;
    border-radius: 1rem;
    background-color: var(--card-bg-color);
    text-align: center;
    padding-bottom: 4rem;
}

.graphic-design img{
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.graphic-design h3{
    color: var(--peach-color);
    margin: 2rem 0;
}

.graphic-design p{
    color: var(--dark-grey-color);
    max-width: 30rem;
    margin: auto;
}


.designs{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.app-design,.web-design{
    width: 54rem;
    border-radius: 1rem;
    height:30.8rem;
    position: relative;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.7s ease;
    cursor: pointer;
}

.app-design:hover,.web-design:hover{
    background-color: rgb(231, 129, 104,0.4);
}

.app-desktop-img,.web-desktop-img,
.app-tablet-img,.web-tablet-img,
.app-mobile-img,.web-mobile-img{
    position: absolute;
    width: 100%;
    height:100%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.app-tablet-img,.web-tablet-img,
.app-mobile-img,.web-mobile-img{
    display: none;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: -1;
}

.designs h1{
    color: var(--white-color);
    margin-bottom: 2rem;
}


.designs a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 2em;
    text-decoration: none;
    color: var(--white-color);
    letter-spacing: 0.5rem;
    transition: 0.7s ease;
    cursor: pointer;
}

.designs a:hover{
    text-decoration: underline;
    font-weight: 500;
    color: var(--peach-color);
}




.get-in-touch{
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--peach-color);
    padding: 8rem;
    position: relative;
    overflow: hidden;
    top: 10rem;
    border-radius: 1rem;
    z-index: 1;

    animation: translate ease;
    animation-duration: 0.7s;
    animation-timeline: view();
    animation-range: entry 0%;
}

.call-to-action{
    position: absolute;
    right: 0;
    z-index: -1;
}

.get-in-touch h1{
    color: var(--white-color);
    margin-bottom: 2rem;
    max-width: 38rem;
}

.get-in-touch p{
    color: var(--white-color);
    max-width: 48rem;
}

.get-in-touch button{
    background-color: var(--white-color);
    color: var(--dark-grey-color);
    transition: 0.7s ease;
}

.get-in-touch button:hover{
    background-color: var(--light-peach-color);
    color: var(--white-color);
}



footer{
    background-color: var(--black-color);
    padding-top: 14rem;
    padding-bottom: 4rem;
}

footer .wrapper{
    animation: scrolling ease;
    animation-duration: 0.7s;
    animation-timeline: view();
    animation-range: entry 0%;
}

.footer-nav,.footer-access{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-nav li a{
    color: var(--light-grey-color);
}

.footer-location{
    display: flex;
    gap: 8rem;
}

footer span{
    display: block;
    color: var(--light-grey-color);
    font-size: 1.6em;
    font-weight: 500;
}

.footer-socials{
    display: flex;
    gap: 2rem;
}

hr{
    border: none;
    height: 0.01rem;
    background-color: var(--light-peach-color);
    margin: 3rem 0;
}


@keyframes scrolling {
    from{
        opacity: 0;
        scale: 0.5;
    }

    to{
        opacity: 1;
        scale: 1;
    }
}

@keyframes translate {
    from{
        opacity: 0;
        transform: translateY(-14rem);
    }

    to{
        transform: translateY(0rem);
    }
}


@media screen and (max-width:1150px){
    .wrapper{
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

@media screen and (max-width:882px){
    .bg-pattern-leaf{
        display: none;
    }

    .get-in-touch{
        flex-direction: column;
        text-align: center;
        gap: 2rem;
        padding:8rem 5rem;
    }

    .get-in-touch h1{
        margin: auto;
        margin-bottom: 2rem;
    }

    .footer-location{
        gap: 4rem;
    }

    .logo,.footer-logo{
        width: 30rem;
    }
}

@media screen and (max-width:770px){

    .hero-call-to-action{
        left: -20rem;
    }

    .graphic-design{
        display: flex;
        flex-direction: column;
    }

    .graphic-design>div{
        display: flex;
        align-items: center;
        gap: 2rem;
        position: relative;
        overflow: hidden;
        max-width: 80rem;
        height: 28rem;
    }

    .graphic-design-img{
        height:32rem;
    }

    .graphic-design img{
        height: 40rem;
        position: relative;
        top: 2rem;
    }


    .designs{
        flex-direction: column;
    }

    .app-design,.web-design{
        width: 100%;
        height:20rem;
    }

    .app-desktop-img,.web-desktop-img{
        display: none;
    }

    .app-tablet-img,.web-tablet-img{
        display: block;
    }

    .logo,.footer-logo{
        width: 24rem;
    }
}

@media screen and (max-width:630px){
    h1{
        font-size: 4rem;
    }
    input:checked ~ .fixed-nav{
        background-color: var(--white-color);
        height: 10rem;
        width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 7;
    }


     label{
        display: block;
        position: absolute;
        right: 2rem;
        z-index: 9;
    }
    input:checked + label{
        position: fixed;
        right: 2rem;
        top: 4rem;
    }


    .fixed-overlay{
        width: 100%;
        height: 100%;
        right: 0;
        bottom: 0;
        position: fixed;
        display: none;
        z-index: 7;
        background-color: rgba(0,0,0,0.6);
    }
    input:checked ~ .fixed-overlay{
        display: block;
    }


    .logo-mobile{
        display: block;
        width: 18rem;
    }

    .nav-menu{
        width: 10rem;
    }

    input:checked ~ a{
        display: none;
    }


    .nav-list{
        display: none;
    }
    input:checked ~ .nav-list{
        display: block;
        position:fixed;
        left: 0;
        top: 10rem;
        width: 100%;
        z-index: 8;
    }
    .logo{
        display:block;
        width: 18rem;
        top: 4rem;
        left: 2rem;
        position: fixed;
        z-index: 9;
    }
    .nav-list ul{
        flex-direction: column;
        background-color: var(--black-color);
        gap: 4rem;
        padding: 6rem 3rem;
    }
    .nav-list li a{
        color: var(--white-color);
    }
    .hero{
        margin-left: 0;
        margin-right: 0;
    }


    .graphic-design>div{
        flex-direction: column;
        gap: 0;
        height:48rem;
        
    }

    .graphic-design-img{
        width:100%;
        height: 30rem;
    }

    .graphic-design img{
        width: 100%;
        height: 100%;
        top: 0;
    }

    .app-design,.web-design{
        height: 25rem;
    }

    .web-tablet-img,.app-tablet-img{
        display: none;
    }

    .web-mobile-img,.app-mobile-img{
        display: block;
    }



    .call-to-action{
        top:-10rem;
        right: -30rem;
    }

    .footer-nav{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        text-align: center;
        margin-bottom: 4rem;
    }

    .footer-nav ul{
        flex-direction: column;
        gap: 2rem;
        color: var(--light-peach-color);
    }

    .mobile-line{
        display: block;
        margin: 1rem;
    }

    .desktop-line{
        display:none;
    }

    .footer-access,.footer-location{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-location{
        gap: 2rem;
    }

    footer span{
        color: var(--light-peach-color);
    }

    .footer-access{
        gap: 4rem;
    }

    .footer-logo{
        width: 18rem;
    }

}