*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    font-family:"Jost",sans-serif;
    font-size: 10px;
}

.wrapper{
    max-width: 111rem;
    margin: 0 auto;
}

:root{
    --peach-color:#E78168;
    --black-color:#1D1C1E;
    --light-peach-color:#FFAD8B;
    --dark-grey-color:#333136;
    --white-color:#FFFFFF;
    --light-grey-color:#F1F3F5;
    --card-bg-color:#FDF3F0;
}

h1{
    font-size: 4.8em;
    line-height: 4.8rem;
    font-weight: 400;
}

h2{
    font-size: 4rem;
    line-height: 4.8rem;
    font-weight:400;
}

 
h3{
    font-size: 2em;
    line-height: 2.6rem;
    letter-spacing: 0.5rem;
    font-weight:400;
}

h4{
    font-size: 2em;
    line-height: 2.6rem;
    font-weight:400;
}

p{
    font-size: 1.6em;
    line-height: 2.6rem;
}

button{
    padding: 2rem 3rem;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 1.6em;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.2rem;
    border-radius: 0.8rem;
}

input{
    display: none;
}
 
input + label .close-menu{
    display: none;
}

input:checked + label .open-menu{
    display: none;
}

input:checked + label .close-menu{
    display: block;
}

label,.logo-mobile{
    display: none;
    cursor: pointer;
}

header{
    margin: 4rem 0;
}

.nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    list-style: none;
    display: flex;
    gap: 3rem;
}

li a{
    display:block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.6em;
    transition: 0.7s ease;
}

.nav-list li a{
    color: var(--dark-grey-color);
}

li a:hover{
    text-decoration: underline;
    font-weight: 500;
}


main{
    position: relative;
    overflow: hidden;
}

.bg-pattern-leaf1,.bg-pattern-leaf2{
    position: absolute;
    z-index: -1;
}

.bg-pattern-leaf1{
    top: 30rem;
    left: -10rem;
}

.bg-pattern-leaf2{
    bottom: 40rem;
    right: -50rem;
}


.hero{
    background-color: var(--peach-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;

    margin-bottom: 14rem;
    border-radius: 1.4rem;
}

.bg-pattern-hero{
    position: absolute;
    left: -2rem;
    top: -17rem;
}

.img{
    height: 49rem;
    max-width:48rem;
}

.img-hero-desktop,.img-hero-tablet,.img-hero-mobile{
    width: 100%;
    height: 100%;
}

.img-hero-tablet,.img-hero-mobile{
    display: none;
}

.hero-content{
    margin-left: 7rem;
}

.hero h1{
    color: var(--white-color);
    margin-bottom: 2rem;
}

.hero p{
    max-width:48rem;
    color: var(--white-color);
}


.talent{
    background-color: var(--card-bg-color);
    display: flex;
    gap: 8rem;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 14rem;

    border-radius: 1.4rem;

    animation:translate ease;
    animation-duration: 0.7s;
    animation-timeline: view();
    animation-range: entry 0%;
}

.img-talent-desktop,.img-talent-tablet,.img-talent-mobile{
    width: 100%;
    height: 100%;
}

.img-talent-tablet,.img-talent-mobile{
    display: none;
}

.talent h1{
    color: var(--peach-color);
}

.talent p{
    max-width: 44rem;
    margin-top: 3rem;
    color: var(--dark-grey-color);
}

.locations{
    display: flex;
    justify-content: space-between;
    align-items: center;

    text-align: center;
    margin-bottom: 14rem;

    animation:scrolling ease;
    animation-duration: 0.7s;
    animation-timeline: view();
    animation-range: entry 0%;
}

.locations h3{
    color: var(--dark-grey-color);
    margin: 2rem 0;
}

.locations button{
    background-color: var(--peach-color);
    color: var(--white-color);
    transition: 0.7s ease;
}

.locations button:hover{
    background-color: var(--light-peach-color);
    color: var(--black-color);
}

.image-location{
    position: relative;
}

.small-circle1,.small-circle2,.small-circle3{
    position: absolute;
}

.small-circle1{
    transform: rotate(90deg);
}

.small-circle3{
    transform: rotate(270deg);
}



.real-deal{
    background-color: var(--card-bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    margin-bottom: 7rem;

    border-radius: 1.4rem;

    animation:translate ease;
    animation-duration: 0.7s;
    animation-timeline: view();
    animation-range: entry 0%;
}

.real-deal-content{
    margin-left: 7rem;
}

.img-real-deal-desktop,.img-real-deal-tablet,.img-real-deal-mobile{
    width: 100%;
    height:100%;
}

.img-real-deal-tablet,.img-real-deal-mobile{
    display: none;
}

.img{
    height: 64rem;
    max-width: 48rem;
}

.real-deal h1{
    color: var(--peach-color);
}

.real-deal p{
    max-width: 44rem;
    margin-top: 3rem;
    color: var(--dark-grey-color);
}



.get-in-touch{
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--peach-color);
    padding: 8rem;
    position: relative;
    overflow: hidden;
    top: 10rem;
    z-index: 1;
    border-radius: 1rem;

    animation:translate ease;
    animation-duration: 0.7s;
    animation-timeline: view();
    animation-range: entry 0%;
}

.call-to-action{
    position: absolute;
    right: 0;
    z-index: -1;
}

.get-in-touch h1{
    color: var(--white-color);
    margin-bottom: 2rem;
    max-width: 38rem;
}

.get-in-touch p{
    color: var(--white-color);
    max-width: 44rem;
}

.get-in-touch button{
    background-color: var(--white-color);
    color: var(--dark-grey-color);
    transition: 0.7s ease;
}

.get-in-touch button:hover{
    background-color: var(--light-peach-color);
    color: var(--white-color);
}



footer{
    background-color: var(--black-color);
    padding-top: 14rem;
    padding-bottom: 4rem;
}

footer .wrapper{
    animation: scrolling ease;
    animation-duration: 0.7s;
    animation-timeline: view();
    animation-range: entry 0%;
}

.footer-nav,.footer-access{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-nav li a{
    color: var(--light-grey-color);
}

.footer-location{
    display: flex;
    gap: 8rem;
}

footer span{
    display: block;
    color: var(--light-grey-color);
    font-size: 1.6em;
    font-weight: 500;
}

.footer-socials{
    display: flex;
    gap: 2rem;
}

hr{
    border: none;
    height: 0.01rem;
    background-color: var(--light-peach-color);
    margin: 3rem 0;
}

@keyframes scrolling {
    from{
        opacity: 0;
        scale: 0.5;
    }

    to{
        opacity: 1;
        scale: 1;
    }
}

@keyframes translate {
    from{
        opacity: 0;
        transform: translateY(-14rem);
    }

    to{
        transform: translateY(0rem);
    }
}


@media screen and (max-width:1144px){
    .wrapper{
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

@media screen and (max-width:1144px){
    .hero-content,.real-deal-content{
        margin-left: 3rem;
    }

    .hero,.talent,.real-deal{
        gap: 3rem;
    }
}

@media screen and (max-width:850px){
    .get-in-touch{
        flex-direction: column;
        text-align: center;
        gap: 2rem;
        padding: 3rem;
    }

    .get-in-touch h1{
        margin: auto;
        margin-bottom: 2rem;
    }

    .call-to-action{
        top:-10rem;
        right: -30rem;
    }


    .logo,.footer-logo{
        width: 20rem;
    }

    .footer-location{
        gap: 4rem;
    }
}

@media screen and (max-width:726px){

    .bg-pattern-leaf1,.bg-pattern-leaf2{
        display: none;
    }

    .hero{
        flex-direction: column-reverse;
        align-items: center;
        gap: 1rem;
         
    }

    .hero-content, .talent-content, .real-deal-content{
        margin: 0;
        padding: 4rem 2rem;
        text-align: center;
    }

    .hero p,.talent p, .real-deal p{
        max-width:100%;
    }

    .talent{
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        
    }

    .img{
        max-width:100%;
        height: 32rem;
    }

    .real-deal{
        flex-direction: column-reverse;
        align-items: center;
        gap: 1rem;
    }


     .img-hero-desktop,.img-talent-desktop,.img-real-deal-desktop{
        display: none;
     }

     .img-hero-tablet,.img-talent-tablet,.img-real-deal-tablet{
        display: block;
     }


     .locations{
        flex-direction: column;
        align-items: center;
        gap: 7rem;
     }
}

@media screen and (max-width:660px){
     .logo,.footer-logo{
        width: 18rem;
    }

    .hero,.talent,.real-deal{
        margin: 0;
        border-radius: 0;
    }

    .footer-nav{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        text-align: center;
        margin-bottom: 4rem;
    }

    .footer-nav ul{
        flex-direction: column;
        gap: 2rem;
        color: var(--light-peach-color);
    }

    .mobile-line{
        display: block;
        margin: 1rem;
    }

    .desktop-line{
        display:none;
    }

    .footer-access,.footer-location{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-location{
        gap: 2rem;
    }

    footer span{
        color:var(--light-grey-color);
        line-height: 2.4rem;
    }

    .footer-access{
        gap: 4rem;
    }

}

@media screen and (max-width:560px){
    h1{
        font-size: 3.8rem;
        line-height: 2.8rem;
    }

    h4{
        font-size: 1.8rem;
    }

    input:checked ~ .fixed-nav{
        background-color: var(--white-color);
        height: 10rem;
        width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 7;
    }


     label{
        display: block;
        position: absolute;
        right: 2rem;
        z-index: 9;
    }
    input:checked + label{
        position: fixed;
        right: 2rem;
        top: 4rem;
    }


    .fixed-overlay{
        width: 100%;
        height: 100%;
        right: 0;
        bottom: 0;
        position: fixed;
        display: none;
        z-index: 7;
        background-color: rgba(0,0,0,0.6);
    }
    input:checked ~ .fixed-overlay{
        display: block;
    }


    .logo-mobile{
        display: block;
        width: 18rem;
    }

    .nav-menu{
        width: 10rem;
    }

    input:checked ~ a{
        display: none;
    }


    .nav-list{
        display: none;
    }
    input:checked ~ .nav-list{
        display: block;
        position:fixed;
        left: 0;
        top: 10rem;
        width: 100%;
        z-index: 8;
    }
    .logo{
        display:block;
        width: 18rem;
        top: 4rem;
        left: 2rem;
        position: fixed;
        z-index: 9;
    }
    .nav-list ul{
        flex-direction: column;
        background-color: var(--black-color);
        gap: 4rem;
        padding: 6rem 3rem;
    }
    .nav-list li a{
        color: var(--white-color);
    }

}


@media screen and (max-width:400px){
    .hero,.talent,.real-deal{
        margin-left: 0;
        margin-right: 0;
    }

    .img-hero-tablet,.img-talent-tablet,.img-real-deal-tablet{
        display: none;
     }

     .img-hero-mobile,.img-talent-mobile,.img-real-deal-mobile{
        display: block;
        max-width:40rem;
     }
}
 